* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
}

.color__list {
    padding: 2px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #000;
}

.color__item {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
}

.text {
    margin-top: 20px;
}